/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /* ---------------Global Styles----------------- */
body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    margin:0;
}

header.primary {
    background-color: rgb(38, 52, 63, 1);
    text-align:center;
    color:#ffffff;
    padding:40px;
    text-shadow: 1px 1px #000000;
    font-size:2.4rem;
    margin:20px 0;
}
  
/*-------My Color Scheme-------
 .color-palette-color-combination-color-combo-farbpalette-warm-cool-color-harmony-orange-green-blue-beige-sand-brown-1-rgba { color: rgba(117, 156, 191, 1); }
.color-palette-color-combination-color-combo-farbpalette-warm-cool-color-harmony-orange-green-blue-beige-sand-brown-2-rgba { color: rgba(77, 103, 128, 1); }
.color-palette-color-combination-color-combo-farbpalette-warm-cool-color-harmony-orange-green-blue-beige-sand-brown-3-rgba { color: rgba(38, 52, 63, 1); }
.color-palette-color-combination-color-combo-farbpalette-warm-cool-color-harmony-orange-green-blue-beige-sand-brown-4-rgba { color: rgba(124, 167, 204, 1); }
.color-palette-color-combination-color-combo-farbpalette-warm-cool-color-harmony-orange-green-blue-beige-sand-brown-5-rgba { color: rgba(100, 135, 165, 1); }
*/
/*-----My Font Family-----
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
*/

header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}