/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /* ---------------Global Styles----------------- */
body {
    font-family: "Gills Sans", "Gill Sans MT", Calibri, Sans-Serif;
    margin:0;
}

header.primary {
    background-color:#3b638b;
    text-align:center;
    color:#ffffff;
    padding:40px;
    text-shadow: 1px 1px #000000;
    font-size:2.4rem;
    margin:20px 0;
}
  


header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}