/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /* ---------------Utility Classes----------------- */
  .container{
    width:70vw;
    margin:40px auto;
    max-width:960px;
  }

  .img-right{
    float:right;
    margin: 20px 0 20px 20px;
    border:1px solid #172635;
    padding:5px;
    border-radius:6px;
  }

  .img-left{
    float:left;
    margin: 20px 20px 20px 0;
    border:1px solid #172635;
    padding:5px;
    border-radius:6px;
  }

  .img-center{
    display:block;
    margin:20px auto;
    border:1px solid #172635;
    padding:5px;
    border-radius:6px;
  }

  /*------Responsive Images-----------*/
  img{
    max-width:100%;
  }

  /* ---------------Global Styles----------------- */
body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    margin:0;
}

header.primary {
    background-color: rgb(38, 52, 63, 1);
    text-align:center;
    color:#ffffff;
    padding:20px;
    text-shadow: 1px 1px #000000;
    font-size:2.4rem;
    margin:20px 0;
}
  
/*-------My Color Scheme-------
 .color-palette-color-combination-color-combo-farbpalette-warm-cool-color-harmony-orange-green-blue-beige-sand-brown-1-rgba { color: rgba(117, 156, 191, 1); }
.color-palette-color-combination-color-combo-farbpalette-warm-cool-color-harmony-orange-green-blue-beige-sand-brown-2-rgba { color: rgba(77, 103, 128, 1); }
.color-palette-color-combination-color-combo-farbpalette-warm-cool-color-harmony-orange-green-blue-beige-sand-brown-3-rgba { color: rgba(38, 52, 63, 1); }
.color-palette-color-combination-color-combo-farbpalette-warm-cool-color-harmony-orange-green-blue-beige-sand-brown-4-rgba { color: rgba(124, 167, 204, 1); }
.color-palette-color-combination-color-combo-farbpalette-warm-cool-color-harmony-orange-green-blue-beige-sand-brown-5-rgba { color: rgba(100, 135, 165, 1); }
*/
/*-----My Font Family-----
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
*/

header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}

header.primary h2 {
  font-size:2.0rem;
  /* Top | Left/Right | Bottom*/
  margin:10px auto 30px;
}

header.primary nav{
  background:none;
}

header.primary ul{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

header.primary li{
  list-style-type: circle;
}

header.primary nav a{
  color:#ffffff;
  text-decoration:none;
  background:rgba(0,0,0,.4);
  padding:8px 16px;
  border-radius:20px;
  transition:.5s;
  /* width | stroke type | color */
  border:1px solid rgba(0,0,0,.6);
}

header.primary nav a:hover, header.primary nav a:active {
  background:rgba(0,0,0,.8);
}

#intro{
  border-bottom:1px dotted #c0c0c0;
  padding-bottom:.9rem;
}

#intro h2{
  color:rgb(38, 52, 63, 1)
  border-bottom: 1px solid #c0c0c0;
}

#content{
  display:flex;
  justify-content: space-between;
  flex-direction:row;
  border-bottom:1px dotted #c0c0c0;
  padding-bottom:2.9rem;
}

#content article.post{
  width: 30%;
  box-shadow: 0 4px 8px rgba(0,0,0,.4);
  padding:10px;
  border-radius:4px;
  font-size:.8rem;
  transition:.5s;
}

#content article.post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.4);
}

article.post figure{
  margin:0;
}

time.post-date, figcaption, post-meta{
  text-transform:uppercase;
  color:#c0c0c0;
}

article.post figure img{
  border:1px solid#c0c0c0;
  padding:2px;
  border-radius:4px;
  margin: 5px auto;
}

article.post a{
  color:rgb(38, 52, 63, 1);
  transition:.5s;
}

article.post a:hover{
  text-decoration:none;
}
/*--------Attribute Selector-------*/
aside[role="complimentary"]{
  background-color:#172635;
  color:#ffffff;
  padding:1.9rem;
}

#demo h2{}
#demo p{}
#demo a{
  color:#172635;
}

#demo a:hover{
  text-decoration:none;
}

#demo h3{
  border-left:5px solid #172635;
  padding:10px;
}

table{
  width:100%;
  border:1px solid #172635;
  border-collapse:collapse;
}
table caption{
  margin-bottom:10px;
  font-weight:bold;
}

th{
  background-color:#172635;
  color:#c0c0c0;
  padding:5px;
}

tr:nth-child(even){
  background-color:#172635;
}

tr:hover{
  background-color:rgba(0,0,0,.1)
}
td{border:1px solid #172635;
  padding:5px;
}

aside .container{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

aside article.widget{
  width:43%;
}

article.widget a{
  color:#fff;
  display:block;
  text-align:right;
  margin-top:.8rem;
}

article.widget footer{
  display:none;
}

#colophon{
  background-color:aqua;
}

#colophon h6{
  padding:20px;
  margin:0;
  text-align:center;
  color:aqua;
  font-size:.9rem;
}
@media screen and (max-width:600){
  header.primary ul{
  flex-direction:column;
  width:50vw;
  margin: 0 auto;
}

header.primary nav a{
  display:block;
}

header.primary nav li{
  margin-bottom:10px;
}