html{
    background-color:rgba(140, 123, 109, 1);
}




/* Color Theme Swatches in RGBA */
.HIPPOCRATA-1-rgba { color: rgba(3, 1, 63, 1); }
.HIPPOCRATA-2-rgba { color: rgba(26, 28, 63, 1); }
.HIPPOCRATA-3-rgba { color: rgba(140, 123, 109, 1); }
.HIPPOCRATA-4-rgba { color: rgba(242, 242, 242, 1); }
.HIPPOCRATA-5-rgba { color: rgba(191, 191, 191, 1); }


