html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }   

body{
   background:rgba(153, 192, 216, 1); 
}

/*Header information*/
header.primary{
    background-image: url(../img/spacecraft.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    padding:60px;
    text-align:right;
    color:#ffffff;
    text-shadow: 1px 1px #000000;
    font-size:2.4rem;
    border-style:none;
    opacity:0.9;
    border:30px;

}

.replace-scott a{
    width:400px;
    height:83px;
    background:url("../img/spacexlogo.png");
    white-space:nowrap;
    text-indent:100%;
    overflow:hidden;
    display:block;
}
header.primary h1 {
  font-size: 100px;
  margin: 20px 0;
  position: relative;
}

header.primary h2{
  color:#ffffff;
  text-align: center;
}
    
header.primary nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  max-width: 900px;
  margin: 20px auto;
}

header.primary nav li {
  list-style-type: none;
  padding: 0;
  width: 20%;
  text-align:center;
}

header.primary nav a:link,
header.primary nav a:visited {
  color: white;
  text-decoration: none;
  background-color: #000000;
  background-color: rgba(142, 166, 184, 0.4);
  padding: 8px 16px;
  border-radius: 10px;
  transition: 0.6s;
  display: block;
}

header.primary nav a:hover,
header.primary nav a:active {
  background-color: rgba(51, 83, 107, 0.8);
}

/*Content Area*/
.wrapper1{
    display: grid;
    grid-template: repeat(6,50px) / repeat(3,1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
  }
}
.wrapper1 > div img {
  max-width: 100%;
  max-height: 100%;
}
.a{
  display:grid;
  align-items:center;
  justify-content:center;
  text-align:center;
  margin:20px 20px 20px;
  font-size:30px;
  grid-template-columns:repeat(1,3fr);
  grid-template-rows:repeat(1,3fr);
}
.b{
  display:grid;
  align-items:center;
  justify-content:center;
  text-align:center;
  margin:20px 20px 20px;
  font-size:30px;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows: 40px 200px 40px;
}
.c{

}
.d{
  
}
.e{
  
}
.f{
  
}





/*FAQs Page-Details*/
details{
  border:3px solid rgba(51, 83, 107, 0.8);
  border-radius:4px;
  padding: 40px 40px 0;
  font-size: 25px;
}

details[open]{
  padding: .5em;
}
details[open] summary{
  border-bottom:1px solid #aaa;
  margin-bottom:.5em;
}

summary{
  font-weight:bold;
  margin:-.5em -.5em 0;
}





/*Footer Information*/
#colophon{
  background:rgba(8, 58, 89, 1);
  padding:15px;
  font-size:30px;
  text-align:center;
  color:#ffffff;
}
#colophon a{
  color:#ffffff;
}
.Astronaut-in-the-outer-space-over-the-planet-Earth.-Abstract-wallpaper.-Spaceman.-Elements-of-this-image-furnished-by-NASA-1-rgba { color: rgba(19, 26, 38, 1); }
.Astronaut-in-the-outer-space-over-the-planet-Earth.-Abstract-wallpaper.-Spaceman.-Elements-of-this-image-furnished-by-NASA-2-rgba { color: rgba(59, 116, 165, 1); }
.Astronaut-in-the-outer-space-over-the-planet-Earth.-Abstract-wallpaper.-Spaceman.-Elements-of-this-image-furnished-by-NASA-3-rgba { color: rgba(109, 180, 242, 1); }
.Astronaut-in-the-outer-space-over-the-planet-Earth.-Abstract-wallpaper.-Spaceman.-Elements-of-this-image-furnished-by-NASA-4-rgba { color: rgba(8, 58, 89, 1); }
.Astronaut-in-the-outer-space-over-the-planet-Earth.-Abstract-wallpaper.-Spaceman.-Elements-of-this-image-furnished-by-NASA-5-rgba { color: rgba(153, 192, 216, 1); }